---
layout: default
title: Career
nav_active: career
---


<!-- ================ latest banner design start ================== -->

<div class="latest_banner">
  <h2 class="latestcareer_title">
      What’s New
  </h2>
  <div class="row ">
    {% for career in site.careers limit:1 %}
    <div class="col-lg-4 col-md-6 col-12">
      <div class="card">
        <div class="card_box">
          <div class="square-container">
            {% if career.image %}
            <img
            src="{{ career.image | relative_url }}"
              class="card-img-top"
              alt="{{ career.title }}"
            />
            {% endif %}
          </div>
          <div class="card-body">
            <div class="card_main_con">
                <h3 class="card-title">{{ career.title }}</h3>
                <p class="card-text">{{ career.short }}</p>
            </div>
            <div class="card-date">
              <small class="text-muted"
                >{{ career.date | date: "%B %d, %Y" }}</small
              >
              <a href="{{ career.url | relative_url }}" class="link">Read More <i class="icon icon-icon-2"></i> </a>
            </div>
          </div>
        </div>
      </div>
    </div>
      {% endfor %}
    </div>
</div>

<!-- ================ latest banner design end ================== -->



<div class="news_listing_sec">
  <div class="container">
    <h2 class="main-title text-center">Explore More Insights</h2>
    <div class="row">
      {% for career in site.careers %}
      <div class="col-lg-4 col-md-6 col-12">
        <div class="card">
          <div  class="card_box">
            {% if career.image %}
            <div class="square-container">
              <img
                src="{{ career.image | relative_url }}"
                class="card-img-top"
                alt="{{ career.title }}"
              />
              {% endif %}
            </div>
            <div class="card-body">
              <div class="card_main_con">
                  <h3 class="card-title">{{ career.title }}</h3>
                  <p class="card-text">{{ career.short }}</p>
              </div>
              <div class="card-date">
                <small class="text-muted"
                  >{{ career.date | date: "%B %d, %Y" }}</small
                >
                <a href="{{ career.url | relative_url }}" class="link">Read More <i class="icon icon-icon-2"></i> </a>
              </div>
            </div>
          </div>
        </div>
      </div>
      {% endfor %}
     </div>
     <!-- <div class="pagination">
      <a href="#" class="prev disable"> << Prev</a>
      <a href="#" class="active">1</a>
      <a href="#" class="">2</a>
      <a href="#" class="">3</a>
      <a href="#" class="next">Next >> </a>
    </div> -->
  </div>
</div>





<div class="software_main_sec">
  <div class="container">
    <div class="softwaredev_section">
      <h2 class="main-title">
          Ready to Transform Your <br>Software Development?
      </h2>
      <p class="software_para">Discover how our AI-driven solutions can streamline your bug resolution process and enhance your team's productivity. Get in touch today! Contact Us to schedule a demo or learn more about our offerings!</p>
      <a class="btn btn-styled" href="{{ site.baseurl }}/contact/" role="button">Contact Us</a>
    </div>
  </div>
</div>