---
layout: base
title: Home
og_title: LogicStar
nav_active: home
---
<div class="hero-banner">
  <div class="hero-background">
    <div class="container">
      <div class="row">
        <div class="col-lg-7">
          <div class="hero-content">
            <div class="title-image">
              <div class="image">
                <img src="{{ site.baseurl }}/assets/images/website/logos/hero-img.png" alt="hero images">
              </div>
              <h1 class="section-title"><span>You Create, We Maintain!</span> Application Maintenance AI.</h1>
            </div>
            <p>Unlock more time for innovation with the power of full autonomy.  LogicStar's revolutionary AI agent ensures that your applications stay reliable by autonomously managing bug fixes, so your engineering team can focus on creating new features and driving growth without being tied to maintenance tasks.</p>
            <a href="" class="btn-styled">Learn More</a>
          </div>
        </div>
        <div class="col-lg-5">
          <div class="image-box">
            <img src="{{ site.baseurl }}/assets/images/website/mainimage/hero-main.png" alt="banner image">
            <div class="banner_textes">
              <h3 class="list first_text">Autonomous Bug Resolution</h3>
              <h3 class="list second_text">Developer-Like Accuracy</h3>
              <h3 class="list third_text">No Supervision Required</h3>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- transform section -->

<div class="transforming_section">
  <div class="container">
      <div class="row align-items-center">
          <div class="col-lg-5">
              <div class="trasform_img">
                  <img src="{{ site.baseurl }}/assets/images/website/mainimage/trasform-img.svg" alt="">
              </div>
          </div>
          <div class="col-lg-7">
              <div class="content_section">
                  <h2 class="main-title">
                      Transforming Software Development with AI
                  </h2>
                  <p>
                      At LogicStar, we are transforming software development and maintenance through the power of agentic artificial intelligence. Our mission is to empower engineering teams with an innovative AI agent that autonomously resolves software bugs, enabling developers to focus on creativity and innovation.<br>
                      Founded by a team of leading software engineers, researchers, and AI experts, LogicStar was established to enhance productivity and improve software maintenance in an increasingly complex landscape that LLMs alone cannot comprehend. Our solution seamlessly integrates into existing workflows, effectively handling software issues of any type and format. With real-time implementation of fixes that rival the accuracy of senior software engineers, we help teams achieve greater efficiency and innovation.
                  </p>
                  <ul class="check_list">
                      <li> <i class="icon icon-icon-1"></i> Accelerated Development Cycles</li>
                      <li><i class="icon icon-icon-1"></i>  Enhanced Application Quality</li>
                      <li><i class="icon icon-icon-1"></i>  Increased Team Productivity</li>
                      <li><i class="icon icon-icon-1"></i>  Reduced Technical Debt</li>
                  </ul>
                  <a href="#" class="btn btn-styled">
                      Read More
                  </a>
              </div>
          </div>
      </div>
  </div>
</div>



{% if site.data.features %}
<div class="strip strip-grey">
  <div class="container pt-6 pb-6 pt-md-10 pb-md-10">
    <h2 class="main-title">
      Verification of AI-Generated Code
  </h2>
  <p class="sub_title">
      LogicStar harnesses AI along with classical computer science to empower engineering teams and AI agents to autonomously maintain commercial applications, enabling faster cycles and improved application quality. Founded by top experts, we are dedicated to advancing the future of software.
  </p>
    <div class="row justify-content-center">
     
      {% for feature in site.data.features %}
      <div class="col-12 col-md-6 col-lg-6">
        <div class="feature">
          {% if feature.image %}
          <div class="feature-image"><img alt="{{ feature.title }} logo" src="{{ feature.image.url | relative_url }}" width="{{ feature.image.width }}" height="{{ feature.image.height }}" /></div>
          {% endif %}
          <h2 class="feature-title">{{ feature.title }}</h2>
          <div class="feature-content">{{ feature.description }}</div>
        </div>
      </div>
      {% endfor %}

    </div>
  </div>
</div>
{% endif %}



<!-- owl slider section -->
{% if site.data.client %}
<div class="slider_section">
  <div class="container">
      <div class="row">
          <div class="col-lg-4">
              <h2 class="main-title">
                  What Experts Are Saying.
              </h2>
          </div>
          <div class="col-lg-8">
                  <div id="owl-carousel" class="client-slider owl-carousel owl-theme">
                    {% for client in site.data.client %}
                    <div class="item">
                      <div class="client_box">
                          <div class="slide_content">
                              <i class="icon icon-icon-4"></i>
                              <p class="slider_para">{{ client.description }}</p>
                              <div class="author">
                                {% if client.image %}
                               <div class="author_img">
                                   <img src="{{ client.image.url | relative_url }}" alt="{{ client.name }}">
                               </div>
                               {% endif %}
                               <p class="name"> {{ client.name }} </p>
                          </div>
                         </div>
                         {% if client.companylogo %}
                         <div class="company_logo">
                          <img src="{{ client.companylogo.url | relative_url }}" >
                      </div>
                      {% endif %}
                      </div>
                    </div>
                    {% endfor %}
                  </div>
          </div>
      </div>
  </div>
</div>

{% endif %}



<!-- owl slider end -->


<!-- logo slider start -->

{% if site.data.companylogo %}
<div class="logo_slider_section">
  <div class="logo_slider_container">
      <h2 class="main-title text-center">
          Supporters, Advisory and Insights Partners From
      </h2>
      <div id="owl-carousel" class="logo-slider owl-carousel owl-theme">
        {% for companylogo in site.data.companylogo %}
          <div class="item">
              <img src="{{ companylogo.image.url  | relative_url  }}" alt="{{ companylogo.name }}">
          </div>
          {% endfor %}
      </div>
  </div>
</div>
{% endif %}

<!-- -----news section start----- -->


    
<div class="home news_listing_sec">
      <div class="container">
        <h2 class="main-title text-center">
          Explore All Our Latest News!
      </h2>

        <div class="row">
          {% for post in site.posts limit:3 %}
          <div class="col-lg-4 col-md-6 col-12">
            <div class="card">
              <div href="{{ post.url }}" class="card_box">
              
                <div class="square-container">
                  {% if post.image %}
                  <img
                  src="{{ post.image | relative_url }}"
                    class="card-img-top"
                    alt="{{ post.title }}"
                  />
                  {% endif %}
                </div>
               
                <div class="card-body">
                  <div class="card_main_con">
                      <h3 class="card-title">{{ post.title }}</h3>
                      <p class="card-text">{{ post.short }}</p>
                  </div>
                  <div class="card-date">
                    <small class="text-muted"
                      >{{ post.date | date: "%B %d, %Y" }}</small
                    >
                    <a class="link" href="{{ post.url | relative_url }}">Read More <i class="icon icon-icon-2"></i> </a>
                  </div>
                </div>
                
              </div>
            </div>
          </div>
          {% endfor %}
        </div>
    
        <div class="text-center">
          <a href="/news/" class="btn btn-styled">View All</a>
        </div>
      </div>
    </div>
</div>
