---
layout: base
title: Home
og_title: LogicStar
---
<div class="hero-banner">
  <div class="container">
    <div class="row">
      <div class="col-lg-7">
        <div class="hero-content">
          <div class="title-image">
            <div class="image">
              <img src="{{ site.baseurl }}/assets/images/website/hero-img.png" alt="hero images">
            </div>
            <h1 class="section-title"><span>Validate And Repair</span> Bugs Autonomously.</h1>
          </div>
          <p>LogicStar is a revolutionary AI agent that autonomously resolves bugs while collaborating with your engineering team. By monitoring code in real-time, it identifies and fixes issues efficiently, enhancing productivity and code quality. With LogicStar, teams can focus on innovation, accelerating development cycles and reducing technical debt.</p>
          <a href="" class="btn-styled">Learn More</a>
        </div>
      </div>
      <div class="col-lg-5">
        <div class="image-box">
          <img src="{{ site.baseurl }}/assets/images/website/hero-main.png" alt="banner image">
        </div>
      </div>
    </div>
  </div>
</div>

{% if site.data.features %}
<div class="strip strip-grey">
  <div class="container pt-6 pb-6 pt-md-10 pb-md-10">
    <div class="row justify-content-center">

      {% for feature in site.data.features %}
      <div class="col-12 col-md-6 col-lg-4 mb-2">
        <div class="feature">
          {% if feature.image %}
          <div class="feature-image"><img alt="{{ feature.title }} logo" src="{{ feature.image.url | relative_url }}" width="{{ feature.image.width }}" height="{{ feature.image.height }}" /></div>
          {% endif %}
          <h2 class="feature-title">{{ feature.title }}</h2>
          <div class="feature-content">{{ feature.description }}</div>
        </div>
      </div>
      {% endfor %}

    </div>
  </div>
</div>
{% endif %}

  <h2 class="title-sentence">
    Want to <strong>dive deeper</strong> into NetFabric? 
  </h2>

    <!-- New Video Section Starts Here -->
    <div class="container mt-5 mb-5">
      <div class="content">
        <div class="image-text-wrapper">
          <a href="https://youtu.be/uwPkL6ggXh0?si=tSpu8Nt80S5h5XHJ" target="_blank" class="image-link">
            <img src="{{ site.baseurl }}/assets/images/NetFabric_Video_Thumbnail.png" alt="NetFabric Demo Image">
          </a>
          <div class="text-container">
            <p>
              Curious about what drives NetFabric and how we're changing the game? <br><br>
              Check out our latest YouTube video where our CTO breaks down our mission and showcases real-world use cases.
              Get an inside look at how we're revolutionizing network observability and why it matters. <br>
              Hit play and join us on this exciting journey! 🎥✨
            </p>
            <div class="contact-action">
              <a id="btn-check-out-video" class="btn btn-primary btn-styled" href="https://youtu.be/uwPkL6ggXh0?si=tSpu8Nt80S5h5XHJ" target="_blank" role="button">Check out video</a>
            </div>
          </div>
        </div>
      </div>
    </div>



  <h2 class="title-sentence">
    Our prototype has been validated with operators & engineers, <strong>receiving praisal across the board</strong>
  </h2>

  <p class="cards-group">
    <div class="row row-cols-1 row-cols-md-3 g-4">
      {% for item in site.data.product.quotes %}
      <div class="col">
        <div class="card h-100 d-flex flex-column shadow">
          <div class="card-body">
            <blockquote class="blockquote">
              <p><i class="fas fa-quote-left" style="color: #686868"></i> {{ item.quote }}</p>
              <footer class="blockquote-footer">{{ item.person }}</footer>
            </blockquote>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
  </p>
  
</div>