---
layout: base
title: Home
og_title: LogicStar
---
<div class="hero-banner">
  <div class="container">
    <div class="row">
      <div class="col-lg-7">
        <div class="hero-content">
          <div class="title-image">
            <div class="image">
              <img src="{{ site.baseurl }}/assets/images/website/hero-img.png" alt="hero images">
            </div>
            <h1 class="section-title"><span>Validate And Repair</span> Bugs Autonomously.</h1>
          </div>
          <p>LogicStar is a revolutionary AI agent that autonomously resolves bugs while collaborating with your engineering team. By monitoring code in real-time, it identifies and fixes issues efficiently, enhancing productivity and code quality. With LogicStar, teams can focus on innovation, accelerating development cycles and reducing technical debt.</p>
          <a href="" class="btn-styled">Learn More</a>
        </div>
      </div>
      <div class="col-lg-5">
        <div class="image-box">
          <img src="{{ site.baseurl }}/assets/images/website/hero-main.png" alt="banner image">
          <div class="banner_textes">
            <h3 class="list first_text">Autonomous Bug Resolution</h3>
            <h3 class="list second_text">Improved Code Quality</h3>
            <h3 class="list third_text">Empowering Your Engineering Team</h3>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- transform section -->

<div class="transforming_section">
  <div class="container">
      <div class="row align-items-center">
          <div class="col-lg-5">
              <div class="trasform_img">
                  <img src="{{ site.baseurl }}/assets/images/website/trasform-img.svg" alt="">
              </div>
          </div>
          <div class="col-lg-7">
              <div class="content_section">
                  <h2 class="main-title">
                      Transforming Software Development with AI
                  </h2>
                  <p>
                      At LogicStar, we are dedicated to revolutionizing software development through the power of artificial intelligence. Our mission is to empower engineering teams by providing an innovative AI agent that autonomously resolves bugs, allowing developers to focus on creativity and innovation.<br>
                      Founded by a team of engineers and AI experts, LogicStar emerged from the need to enhance productivity and improve code quality in an increasingly complex software landscape. Our solution seamlessly integrates into existing workflows, continuously monitoring code for issues and implementing fixes in real time
                  </p>
                  <ul class="check_list">
                      <li> <i class="icon icon-icon-1"></i> Accelerated Development Cycles</li>
                      <li><i class="icon icon-icon-1"></i>  Enhanced Code Quality</li>
                      <li><i class="icon icon-icon-1"></i>  Increased Team Productivity</li>
                      <li><i class="icon icon-icon-1"></i>  Reduced Technical Debt</li>
                  </ul>
                  <a href="#" class="btn btn-styled">
                      Read More
                  </a>
              </div>
          </div>
      </div>
  </div>
</div>



{% if site.data.features %}
<div class="strip strip-grey">
  <div class="container pt-6 pb-6 pt-md-10 pb-md-10">
    <h2 class="main-title">
      Empowering Innovation in Software Development
  </h2>
  <p class="sub_title">
      LogicStar harnesses AI to empower engineering teams with an agent that autonomously resolves bugs, enabling faster cycles and improved code quality. Founded by experts, we are dedicated to advancing the future of software.
  </p>
    <div class="row justify-content-center">
     
      {% for feature in site.data.features %}
      <div class="col-12 col-md-6 col-lg-6">
        <div class="feature">
          {% if feature.image %}
          <div class="feature-image"><img alt="{{ feature.title }} logo" src="{{ feature.image.url | relative_url }}" width="{{ feature.image.width }}" height="{{ feature.image.height }}" /></div>
          {% endif %}
          <h2 class="feature-title">{{ feature.title }}</h2>
          <div class="feature-content">{{ feature.description }}</div>
        </div>
      </div>
      {% endfor %}

    </div>
  </div>
</div>
{% endif %}



<!-- owl slider section -->
{% if site.data.client %}
<div class="slider_section">
  <div class="container">
      <div class="row">
          <div class="col-lg-4">
              <h2 class="main-title">
                  Driven by Results, Recognized by Clients.
              </h2>
          </div>
          <div class="col-lg-8">
                  <div id="owl-carousel" class="client-slider owl-carousel owl-theme">
                    {% for client in site.data.client %}
                    <div class="item">
                      <div class="client_box">
                          <div class="slide_content">
                              <i class="icon icon-icon-4"></i>
                              <p class="slider_para">{{ client.description }}</p>
                              <div class="author">
                                {% if client.image %}
                               <div class="author_img">
                                   <img src="{{ client.image.url | relative_url }}" alt="{{ client.name }}">
                               </div>
                               {% endif %}
                               <p class="name"> {{ client.name }} </p>
                          </div>
                         </div>
                         {% if client.companylogo %}
                         <div class="company_logo">
                          <img src="{{ client.companylogo.url | relative_url }}" >
                      </div>
                      {% endif %}
                      </div>
                    </div>
                    {% endfor %}
                  </div>
          </div>
      </div>
  </div>
</div>

{% endif %}



<!-- owl slider end -->


<!-- logo slider start -->

{% if site.data.companylogo %}
<div class="logo_slider_section">
  <div class="">
      <h2 class="main-title text-center">
          Trusted by Leading Companies
      </h2>
      <div id="owl-carousel" class="logo-slider owl-carousel owl-theme">
        {% for companylogo in site.data.companylogo %}
          <div class="item">
              <img src="{{ companylogo.image.url  | relative_url  }}" alt="{{ companylogo.name }}">
          </div>
          {% endfor %}
      </div>
  </div>
</div>
{% endif %}

<!-- -----news section start----- -->


    
<div class="home news_listing_sec">
      <div class="container">
        <h2 class="main-title text-center">
          Explore All Our Latest News!
      </h2>

        <div class="row">
          {% for post in site.posts limit:3 %}
          <div class="col-lg-4 col-md-6 col-12">
            <div class="card">
              <a href="{{ post.url }}" class="card_box">
                {% if post.image %}
                <div class="square-container">
                  <img
                    src="{{ post.image.url | relative_url }}"
                    class="card-img-top"
                    alt="{{ post.title }}"
                  />
                </div>
                {% endif %}
                <div class="card-body">
                  <div class="card_main_con">
                      <h3 class="card-title">{{ post.title }}</h3>
                      <p class="card-text">{{ post.short }}</p>
                  </div>
                  <div class="card-date">
                    <small class="text-muted"
                      >{{ post.date | date: "%B %d, %Y" }}</small
                    >
                    <button>Read More <i class="icon icon-icon-2"></i> </button>
                  </div>
                </div>
                
              </a>
            </div>
          </div>
          {% endfor %}
        </div>
    
        <div class="text-center">
          <a href="/news/" class="btn btn-styled">View All</a>
        </div>
      </div>
      </div>

</div>