---
layout: default
title: News
---

<!-- <style>
  .card a {
    color: inherit;
    text-decoration: none;
  }

  
  .card a:hover {
    text-decoration: none;
  }

  .card-date {
    padding: var(--bs-card-spacer-y) var(--bs-card-spacer-x);
    background-color: transparent;
    border-top: none;
  }

  .square-container {
      position: relative;
      width: 100%;
      padding-top: 100%; 
      overflow: hidden;
    }

    .square-container img {
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      width: 100%;
      height: auto;
      margin: auto;
    }
</style> -->



<!-- ================ comon banner design ================== -->

<div class="banner_section">
  <h2 class="banner_title">Our News</h2>
</div>

<!-- ================ comon banner design end ================== -->


<!-- ================ latest banner design start ================== -->

<div class="latest_banner">
  <h2 class="latestpost_title">
      What’s New
  </h2>
  <div class="row">
    {% for post in site.posts limit:1 %}
    <div class="col-lg-4 col-md-6 col-12">
      <div class="card">
        <a href="{{ post.url }}" class="card_box">
          <div class="square-container">
            <img
            src="{{ site.baseurl }}/assets/images/webisite/postimges/post-img-1.jpeg"
              class="card-img-top"
              alt="{{ post.title }}"
            />
          </div>
          <div class="card-body">
            <div class="card_main_con">
                <h3 class="card-title">{{ post.title }}</h3>
                <p class="card-text">{{ post.short }}</p>
            </div>
            <div class="card-date">
              <small class="text-muted"
                >{{ post.date | date: "%B %d, %Y" }}</small
              >
              <button>Read More <i class="icon icon-icon-2"></i> </button>
            </div>
          </div>
          
        </a>
      </div>
    </div>
      {% endfor %}
    </div>
</div>

<!-- ================ latest banner design end ================== -->



<div class="home news_listing_sec">
  <div class="container">
    <h2 class="main-title text-center">Explore More Insights</h2>

    <div class="row">
      {% for post in site.posts %}
      <div class="col-lg-4 col-md-6 col-12">
        <div class="card">
          <a href="{{ post.url }}" class="card_box">
            <div class="square-container">
              <img
                src="{{ post.image.url | relative_url }}"
                class="card-img-top"
                alt="{{ post.title }}"
              />
            </div>
            <div class="card-body">
              <div class="card_main_con">
                  <h3 class="card-title">{{ post.title }}</h3>
                  <p class="card-text">{{ post.short }}</p>
              </div>
              <div class="card-date">
                <small class="text-muted"
                  >{{ post.date | date: "%B %d, %Y" }}</small
                >
                <button>Read More <i class="icon icon-icon-2"></i> </button>
              </div>
            </div>
          </a>
        </div>
      </div>
      {% endfor %}
    </div>

  </div>


  <div class="pagination">
    {% if paginator.previous_page %}
    <a href="{{ paginator.previous_page_path }}" class="prev disable"> << Previous</a>
    {% endif %}
    
    {% for page in (1..paginator.total_pages) %}
    <a href="{{ paginator.paginate_path | replace: ':num', page }}" 
       class="page-number {% if page == paginator.page %}active{% endif %}">{{ page }}</a>


    {% endfor %}
    
    {% if paginator.next_page %}
    <a href="{{ paginator.next_page_path }}" class="next">Next >> </a>
    {% endif %}
</div>  


<div class="softwaredev_section">
    <h2 class="main-title">
        Ready to Transform Your <br>Software Development?
    </h2>
    <p class="software_para">Discover how our AI-driven solutions can streamline your bug resolution process and enhance your team's productivity. Get in touch today! Contact Us to schedule a demo or learn more about our offerings!</p>
    <a class="btn btn-styled" href="" role="button">Contact Us</a>
</div>



</div>
