---
layout: default
title: News
paginate: true
nav_active: news
---


<!-- ================ latest banner design start ================== -->

<div class="latest_banner">
  <h2 class="latestpost_title">
      What’s New
  </h2>
  <div class="row ">
    {% for post in site.posts limit:1 %}
    <div class="col-lg-4 col-md-6 col-12">
      <div class="card">
        <a href="{{ post.url }}" class="card_box">
          <div class="square-container">
            {% if post.image %}
            <img
            src="{{ post.image | relative_url }}"
              class="card-img-top"
              alt="{{ post.title }}"
            />
            {% endif %}
          </div>
          <div class="card-body">
            <div class="card_main_con">
                <h3 class="card-title">{{ post.title }}</h3>
                <p class="card-text">{{ post.short }}</p>
            </div>
            <div class="card-date">
              <small class="text-muted"
                >{{ post.date | date: "%B %d, %Y" }}</small
              >
              <button>Read More <i class="icon icon-icon-2"></i> </button>
            </div>
          </div>
          
        </a>
      </div>
    </div>
      {% endfor %}
    </div>
</div>

<!-- ================ latest banner design end ================== -->



<div class="home news_listing_sec">
  <div class="container">
    <h2 class="main-title text-center">Explore More Insights</h2>

    <div class="row">
      {% for post in paginator.posts %}
      <div class="col-lg-4 col-md-6 col-12">
        <div class="card">
          <a href="{{ post.url }}" class="card_box">
            {% if post.image %}
            <div class="square-container">
              <img
                src="{{ post.image | relative_url }}"
                class="card-img-top"
                alt="{{ post.title }}"
              />
              {% endif %}
            </div>
            <div class="card-body">
              <div class="card_main_con">
                  <h3 class="card-title">{{ post.title }}</h3>
                  <p class="card-text">{{ post.short }}</p>
              </div>
              <div class="card-date">
                <small class="text-muted"
                  >{{ post.date | date: "%B %d, %Y" }}</small
                >
                <button>Read More <i class="icon icon-icon-2"></i> </button>
              </div>
            </div>
          </a>
        </div>
      </div>
      {% endfor %}
    </div>

  </div>

  <!-- {% if paginator.total_pages > 1 %}
  <div class="pagination">
    {% if paginator.previous_page %}
    <a href="{{ paginator.previous_page_path }}" class="prev disable"> << Previous</a>
    {% endif %}
    
    {% for page in (1..paginator.total_pages) %}
 
       {% if page == paginator.page %}
       <em>{{ page }}</em>
     {% elsif page == 1 %}
       <a href="{{ site.paginate_path | relative_url | replace: 'page:num/', '' }}">{{ page }}</a>
     {% else %}
       <a href="{{ site.paginate_path | relative_url | replace: ':num', page }}">{{ page }}</a>
     {% endif %}

    {% endfor %}
    
    {% if paginator.next_page %}
    <a href="{{ paginator.next_page_path }}" class="next">Next >> </a>
    {% endif %}
  </div>  
  {% endif %} -->

</div>



<div class="software_main_sec">
  <div class="container">
    <div class="softwaredev_section">
      <h2 class="main-title">
          Ready to Transform Your <br>Software Development?
      </h2>
      <p class="software_para">Discover how our AI-driven solutions can streamline your bug resolution process and enhance your team's productivity. Get in touch today! Contact Us to schedule a demo or learn more about our offerings!</p>
      <a class="btn btn-styled" href="" role="button">Contact Us</a>
    </div>
  </div>
</div>