---
layout: default
title: Our Team
---

<div class="companymain_sec team_main_sec">
    <div class="container">
        <div class="row">
          <div class="col-lg-6 col-md-12 col-12">
              <div class="left_side">
                  <img src="{{ site.baseurl }}/assets/images/website/team-sec-right-img.svg" alt="">
              </div>
          </div>
        
          <div class="col-lg-6 col-md-12 col-12">
              <!-- {% if site.innerpages %} -->
              <div class="right_side">
                  <h2 class="main_title">
                    The Story Behind Our Expertise
                  </h2>
                  <p>We are a passionate team of serial entrepreneurs, techies, and researchers dedicated to commercializing deep tech innovations. We solve some of the most expensive and hated tasks performed by software developers: validating bugs, fixing bugs, and reviewing bug fixes made by others (including AI).</p>
                  <p> With our strong background in program analysis and AI from years of commercial experience and research at ETH Zurich and INSAIT.ai, we are redefining the future of operating complex software applications!</p>
                  <!-- <ul>
                      <li> <img src="{{ site.baseurl }}/assets/images/website//map.svg"> {{ innerpages.address }}</li>
                  </ul> -->
              </div>
              <!-- {% endif %} -->
          </div>
        </div>
  </div>
</div>


<div class="meet_team_sec teampage_team">
  <h2 class="main-title text-center">The Experts Behind LogicStar</h2>
  <!-- {% if site.people %} -->
  <div class="container">
    <div class="row">
      {% include person_card.html key="Beni" %}
      {% include person_card.html key="Tobias" %}
      {% include person_card.html key="Marlene" %}
      {% include person_card.html key="Laurent" %}
      {% include person_card.html key="Simon" %}
      {% include person_card.html key="Clemens" %}
      {% include person_card.html key="Slobodan" %}
      {% include person_card.html key="Shiduo" %}
      {% include person_card.html key="Boris" %}
      {% include person_card.html key="Martin" %}
      <!-- {% include person_card.html key="OpenRoles" %} -->
    </div>
  </div>
  <!-- {% endif %} -->
</div>



<div class="software_main_sec">
  <div class="container">
      <div class="softwaredev_section">
          <h2 class="main-title">
              Ready to Transform Your <br>Software Development?
          </h2>
          <p class="software_para">Discover how our AI-driven solutions can streamline your bug resolution process and enhance your team's productivity. Get in touch today! Contact Us to schedule a demo or learn more about our offerings!</p>
          <a class="btn btn-styled" href="" role="button">Contact Us</a>
      </div>
  </div>
</div>
