---
layout: default
title: Our Team
---

We're a passionate team of researchers and entrepreneurs, driven by a love of innovation and a frustration with old-school network monitoring tools. 
With our strong background in computer networking and AI from years of research at ETH Zurich, we are ready to push the limits and shape the future of network monitoring! 

<p class="mb-4">
    <br>
    <h2 class="title-sentence">
        Our mission is to revolutionize network monitoring:<br>
        <strong>From Chaos to Clarity</strong>
   </h2>
   In today's world, computer networks are the backbone of our daily lives, businesses, and economies. 
   So when network outages or performance hiccups occur, they can be devastating. 
   Yet, most current monitoring solutions are stuck in the past—relying on outdated data sources, overwhelming users with alerts, and reacting only after problems arise. 
   This leaves network operators scrambling to piece together information manually and leads to costly downtimes for businesses worldwide.<br><br>
   At NetFabric, we're flipping the script on network observability. Our innovative approach fuses the precision of research-driven mathematical models with the flexibility of advanced machine learning to create a monitoring solution that truly gets modern networks.<br><br>
   Our dual strategy - leveraging mathematical models and AI - offers a connected, comprehensive view across diverse data sources. 
   We add meaningful context to alerts, guide operators to key issues seamlessly, and even forecast potential scenarios. 
   This empowers operators to focus on critical tasks, optimizing both debugging and planning efforts. 
   Welcome to the future of network observability! <br>
   <br>
 </p>

<h2>Our Team</h2>

<div class="row">
    {% include person_card.html key="Beni" %}
    {% include person_card.html key="Tobias" %}
    {% include person_card.html key="Marlene" %}
    {% include person_card.html key="Laurent" %}
    {% include person_card.html key="Simon" %}
    {% include person_card.html key="Clemens" %}
    {% include person_card.html key="Slobodan" %}
    {% include person_card.html key="Shiduo" %}
    {% include person_card.html key="Boris" %}
    {% include person_card.html key="Martin" %}
    {% include person_card.html key="OpenRoles" %}
</div>
<br>

<p class="mb-4">
   <h2 class="title-sentence">
    We've just secured $2.2 million USD in pre-seed funding<br> 
    with <strong>support from exceptional investors</strong>
  </h2>
</p>
<br>
<div class="row">
    {% include person_card.html key="Founderful_investor" %}
    {% include person_card.html key="Playfair_investor" %}
</div>

<div class="container pt-6 pb-6">
  <h1> Our team </h1>
  <div class="row">
      {% assign promoted_teams = site.team | where: "promoted", true | sort: "weight" %}
      {% for team in promoted_teams %}
      <div class="col-12 col-md-6 mb-2">
          <div class="team team-summary team-summary-large">
              {% if team.image %}
              <div class="team-image">
                  <img width="90" height="90" alt="{{ team.title }}" class="img-fluid mb-2" src="{{ team.image | relative_url }}" />
              </div>
              {% endif %}
              <div class="team-meta">
                  <h2 class="team-name"><a href="{{ team.url | relative_url }}">{{ team.title }}</a></h2>
                  <p class="team-description">{{ team.jobtitle }}</p>
                  {% if team.linkedinurl %}
                  <a target="_blank" href="{{ team.linkedinurl }}" rel="noreferrer">LinkedIn</a>
                  {% endif %}
              </div>
              <div class="team-content">{{ team.excerpt | truncate: 120 }}</div>
          </div>
      </div>
      {% endfor %}
  </div>

  <h2> Work with us</h2>
  <div class="row">
      <p> Interested in joining our team? Read more on our <a href="/careers">careers page</a>.</p>
  </div>
</div>