---
layout: default
title: Our Company
nav_active: our-company
---


<!-- <div class="banner_section">
    <h2 class="banner_title">Our Company</h2>
</div> -->

<!-- ================ comon banner design end ================== -->

<!-- ==============company innner text start================ -->

<p>Current Page URL: {{ page.url }}</p>
<p>Item URL: {{ '/' | append: item.url }}</p>


<div class="companymain_sec">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-12 col-12">
                <div class="left_side">
                    <img src="{{ site.baseurl }}/assets/images/website/company-left.svg" alt="">
                </div>
            </div>
           
            <div class="col-lg-6 col-md-12 col-12">
                <div class="right_side">
                    <h2 class="main_title">
                        Pioneering Autonomous AI for Bug Fixing
                    </h2>
                    <p> LogicStar AG is a company registered in Switzerland. We are a spinoff from <a href="#" class="para_link">INSAIT the Institute for Computer Science, Artificial Intelligence.</a> The team has a rich history and ongoing applied research, deeptech publications, and prestigious awards with <a href="#" class="para_link">ETH Zurich.</a> 
                       </p>
                       <p> At LogicStar, our mission is to streamline software development by eliminating bottlenecks related to bug identification, verification, and repair. </p>
                    <ul>
                        <li> <img src="{{ site.baseurl }}/assets/images/website//map.svg"> {{ innerpages.address }} LogicStar AG, Konradstrasse 20, 8005 Zürich</li>
                    </ul>
                </div>
            </div>
          
        </div>
    </div>
</div>

<!-- ===============meet our team=============== -->

<div class="meet_team_sec">
    <h2 class="main-title text-center">Meet Our Founding team</h2>
    <!-- {% if site.people %} -->
    <div class="container">
        <div class="row">
            <!-- {% for people in site.people limit:4%} -->
           
            <!-- {% endfor %} -->
            {% include companypeople.html key="Boris" %}
            {% include companypeople.html key="Mark" %}
            {% include companypeople.html key="Veselin" %}
            {% include companypeople.html key="Martin" %}
        </div>
        <div class="meet_team_link">
            <a class="btn btn-styled" href="/our-team/" role="button">Meet The Whole Team</a>
        </div>
    </div>
    <!-- {% endif %} -->
</div>


<!-- ==============company innner text end================ -->

<div class="software_main_sec">
    <div class="container">
        <div class="softwaredev_section">
            <h2 class="main-title">
                Ready to Transform Your <br>Software Development?
            </h2>
            <p class="software_para">Discover how our AI-driven solutions can streamline your bug resolution process and enhance your team's productivity. Get in touch today! Contact Us to schedule a demo or learn more about our offerings!</p>
            <a class="btn btn-styled" href="" role="button">Contact Us</a>
        </div>
    </div>
</div>




