---
layout: default
title: Our Company
---


<!-- <div class="banner_section">
    <h2 class="banner_title">Our Company</h2>
</div> -->

<!-- ================ comon banner design end ================== -->

<!-- ==============company innner text start================ -->

<div class="companymain_sec">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-12 col-12">
                <div class="left_side">
                    <img src="{{ site.baseurl }}/assets/images/website/company-left.svg" alt="">
                </div>
            </div>
            {% if site.innerpages.our-company %}
            <div class="col-lg-6 col-md-12 col-12">
                <div class="right_side">
                    <h2 class="main_title">
                         {{ innerpages.our-company.maintitle }}
                    </h2>
                    <p> {{ innerpages.our-company.jurisdiction }} </p>
                    <ul>
                        <li> <img src="{{ site.baseurl }}/assets/images/website//map.svg"> {{ innerpages.our-company.address }}</li>
                    </ul>
                </div>
            </div>
            {% endif %}
        </div>
    </div>
</div>

<!-- ===============meet our team=============== -->

<div class="meet_team_sec">
    <h2 class="main-title text-center">Meet Our Founding team</h2>
    {% if site.people %}
    <div class="container">
        <div class="row">
            {% for people in site.people %}
            <div class="col-lg-6 col-12">
                <div class="team_boxes">
                    <div class="team_img">
                        {% if people.image %}
                        <img src="{{ people.image | relative_url }}" alt="">
                        {% endif %}
                    </div>
                    <div class="team_content">
                        <div class="left_content">
                            <h4 class="team_name"> {{ people.name }} </h4>
                            <p class="position"> {{ people.role }} </p>
                        </div>
                        <a href="{{ people.url | relative_url }}"><img src="{{ site.baseurl }}/assets/images/website//linked-in.svg" alt=""></a>
                    </div>
                </div>
            </div>
            {% endfor %}

            <!-- <div class="col-lg-6 col-12">
                <div class="team_boxes">
                    <div class="team_img">
                        <img src="{{ site.baseurl }}/assets/images/website//team/mark-512.jpeg" alt="">
                    </div>
                    <div class="team_content">
                        <div class="left_content">
                            <h4 class="team_name">Boris Paskalev</h4>
                            <p class="position">CEO</p>
                        </div>
                        <a href="#"><img src="{{ site.baseurl }}/assets/images/website//linked-in.svg" alt=""></a>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-12">
                <div class="team_boxes">
                    <div class="team_img">
                        <img src="{{ site.baseurl }}/assets/images/website//team/veselin-512.jpeg" alt="">
                    </div>
                    <div class="team_content">
                        <div class="left_content">
                            <h4 class="team_name">Boris Paskalev</h4>
                            <p class="position">CEO</p>
                        </div>
                        <a href="#"><img src="{{ site.baseurl }}/assets/images/website//linked-in.svg" alt=""></a>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-12">
                <div class="team_boxes">
                    <div class="team_img">
                        <img src="{{ site.baseurl }}/assets/images/website//team/martin-512.jpeg" alt="">
                    </div>
                    <div class="team_content">
                        <div class="left_content">
                            <h4 class="team_name">Boris Paskalev</h4>
                            <p class="position">CEO</p>
                        </div>
                       <div class="text-center"> 
                        <a href="#"><img src="{{ site.baseurl }}/assets/images/website//linked-in.svg" alt=""></a> 
                    </div>
                    </div>
                </div>
            </div> -->
            
        </div>
        <div class="meet_team_link">
            <a class="btn btn-styled" href="" role="button">Meet The Whole Team</a>
        </div>
    </div>
    {% endif %}
</div>


<!-- ==============company innner text end================ -->

<div class="software_main_sec">
    <div class="container">
        <div class="softwaredev_section">
            <h2 class="main-title">
                Ready to Transform Your <br>Software Development?
            </h2>
            <p class="software_para">Discover how our AI-driven solutions can streamline your bug resolution process and enhance your team's productivity. Get in touch today! Contact Us to schedule a demo or learn more about our offerings!</p>
            <a class="btn btn-styled" href="" role="button">Contact Us</a>
        </div>
    </div>
</div>




