{% assign copeople = site.people | where: "key", include.key | first %}

{% if copeople == nil %}
<!-- Warning: Person not found -->
{% else %}


<div class="col-lg-6 col-12">
    <div class="team_boxes">  
        <div class="team_img">
            {% if copeople.image %}
            <!-- <img src="{{ copeople.image | relative_url }}" alt=""> -->
            <img src="{{ copeople.image | relative_url }}" class="card-img-top img-fluid" alt="{{ copeople.name }}" data-bs-toggle="modal" data-bs-target="#modal{{ copeople.key }}">
            {% endif %}
        </div>
        <div class="team_content">
            <div class="left_content">
                <h4 class="team_name"> <a href="" >{{ copeople.name }}</a></h4>
                <p class="position"> {{ copeople.role }} </p>
            </div>
            <a href="{{ copeople.link | relative_url }}"><img src="{{ site.baseurl }}/assets/images/website//linked-in.svg" alt=""></a>
        </div>
        <div class="modal fade" id="modal{{ copeople.key }}" tabindex="-1">
            <div class="modal-dialog modal-dialog-centered">
                  <div class="modal-content">
                    <div class="modal-header ms-auto border-0">
                      <button type="button" data-bs-dismiss="modal" aria-label="Close">
                        <svg width="28" height="28" viewBox="0 0 28 28" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <rect width="28" height="28" rx="14" fill="#EC963C"/>
                            <path d="M20 8L8 20M8 8L20 20" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                        </svg>
                      </button>
                    </div>
                    <div class="modal-body">
                        <div class="popupcontent">
                            <div class="row">
                                <div class="col-md-5">
                                    <div class="popup_img">
                                        <img src="{{ site.baseurl }}/{{ copeople.image | default: 'assets/images/team/default.svg' }}" class="card-img-top img-fluid grayscale-on-hover" alt="{{ person.name }}">
                                    </div>
                                </div>
                                <div class="col-md-7">
                                    <div class="popup_content">
                                        <h3 class="popup_title">
                                            <h4 class="team_name"> <a href="{{ copeople.link }}" >{{ copeople.name }}</a></h4>
                                        </h3>
                                        <p class="position"> {{ copeople.role }} </p>
                                        <div>
                                            {% assign content = copeople.content | strip_newlines %}
                                            {% if content != "" %} <p class="short_content">{{ copeople.content | markdownify }}</p> {% endif %}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                  </div>
            </div>
        </div>
    </div>
   
</div>



{% endif %}
