{% assign copeople = site.people | where: "key", include.key | first %}

{% if copeople == nil %}
<!-- Warning: Person not found -->
{% else %}


<div class="col-lg-6 col-12">
    <div class="team_boxes">  
        <div class="team_img">
            {% if people.image %}
            <img src="{{ copeople.image | relative_url }}" alt="">
            {% endif %}
        </div>
        <div class="team_content">
            <div class="left_content">
                <h4 class="team_name"> {{ copeople.name }} </h4>
                <p class="position"> {{ copeople.role }} </p>
            </div>
            <a href="{{ copeople.url | relative_url }}"><img src="{{ site.baseurl }}/assets/images/website//linked-in.svg" alt=""></a>
        </div>
    </div>
</div>



{% endif %}
