@media only screen and (max-width: 1200px) {
    .footer .menu-wapper{
        gap: 24px;
    }
    .footer .menu-list{
        gap: 15px;
    }
    .footer .footer-logo{
        max-width: fit-content;
    }
}

@media only screen and (max-width: 1024px) {}

@media only screen and (max-width: 767px) {
    .footer .menu-wapper{
        flex-direction: column;
    }
    
}

@media only screen and (max-width: 640px) {
    
    .footer .menu-list{
        flex-direction: row;
        flex-wrap: wrap;
        align-items: baseline;
    }
    a.footer-logo{
        margin: 0 auto;
    }
    .footer .menu-list li.nav-item{
        width: 48%;
    }

    .footer .menu-wapper{
        gap: 40px;
    }
    .footer::before,
    .footer::after{
        display: none;
    }
    .footer{
        padding: 50px 0;
    }
    .copy-right{
        flex-direction: column;
        gap: 15px;
    }
    .copy-right p{
        margin: 0;
    }
    .copy-right .page-link{
        gap: 15px;
    }
}